# Bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno virtual
venv/
env/
.venv/
.env/

# Archivos de configuración del entorno
*.env
*.env.*

# Archivos de dependencias compiladas
*.so
*.dll
*.dylib

# Archivos de configuración de editores/IDE
.vscode/
.idea/
*.swp

# Archivos de log y bases de datos temporales
*.log
*.sqlite3
*.db

# Archivos de test coverage
.coverage
htmlcov/
coverage.xml

# Archivos de pytest
.pytest_cache/

# Archivos de build/distribución
build/
dist/
*.egg-info/

# Archivos de Jupyter
.ipynb_checkpoints

# Archivos de caché de pip
pip-wheel-metadata/
__pypackages__/

# Archivos de mypy y otros linters
.mypy_cache/
.pyre/
.pytype/

# Archivos generados por Sphinx
docs/_build/

# Archivos personalizados
.DS_Store
Thumbs.db