
/* ENCABEZADO */

.header {
    display: flex;
    align-items: center;
    padding: 0.625rem 0.625rem;
    background-color: #6FA1D3;
    color: #C6D4EA;
    width: 100%;
}

h1 {
    color: #ffffff; /* Establece el color del texto del encabezado */
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.5rem;
    margin: 0rem; /* Elimina el margen predeterminado del h1 */
    margin-left: 0.8rem;
}

.logo {
    margin-right: 0.625rem; /* Margen entre el logo y el título */
    width: 6.25rem;
    height: 6.25rem;
} 

.menu ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0rem; /* Elimina el margen predeterminado */
    padding: 0rem; /* Elimina el relleno predeterminado */
    display: flex;
    margin-left: 62.5rem;

}

/* CUERPO DE LA PAGINA */

body {
    font-family: Arial, sans-serif; /* Establece la fuente del texto */
    background-color: #C6D4EA; /* Establece el color de fondo */
    margin: 0rem; /* Establece los márgenes del cuerpo */
}

h2 {
    margin-left: 8.75rem;
    margin-top: 5rem;
    font-size: 2.375rem;
}

p {
    font-size: 1.25rem; /* Establece el tamaño de la fuente del párrafo */
    line-height: 2rem; /* Establece la altura de línea */
    margin-left: 5rem;  /* Distancia entre el lado izquierdo de la pagina y el texto*/
    max-width: 31.25rem;
    text-align: justify;
}
