/* Todo el cuerpo */
.body {
    background-color: #C6D4EA;
    list-style: none;
    font-family: "Inter";
    margin: 0%;
}


/* Header */

.header{
    background-color: #6FA1D3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Espacio entre logo y menú */
    align-items: center;

}

.container-logo {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 20px;
    justify-content: center;
}
.menu-logo{
    width: 6rem;
    height: 6rem;
    padding: 0px 20px;
}
.titulo-logo{
        width: 14rem;
        height: 5rem;
    }


.container-menu {
    display: flex; /* Alinear botones en fila */
    height: 70px;
    width: auto;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;

    }

.header-button {
    background-color: #ffffff; /* Color de fondo del botón */
    color: black; /* Color del texto */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    margin-left: 20px; /* Espacio entre botones */
    cursor: pointer; /* Cursor de puntero */
    width: 200px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    }



/* El cuerpo */
#contenedor_principal {
    display: flex;
    color: black;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}



/* Filtros */
#filtros {
    margin-left: 1rem;
    margin-right: 2rem;
    width: 50%;
}

.titulos_filtros {
    margin-bottom: 1rem;
}



/* Alimentos */
#alimentos {
    flex-direction: column;
    width: 100%;
}

#titulo_alimentos {
    margin-bottom: 1rem;
}

.productos {
    border-style: solid;
    border-color: #6FA1D3;
    background-color: #F5F5F5;
}

.imagen_productos {
    width: 20rem;
    height: 15rem;
}




/*Footer*/
#footer {
    bottom: 0%;
    left: 0%;
    right: 0%;
    justify-content: left;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: #6FA1D3;
    border-style: solid;
    margin-top: 2rem;
}

.texto_footer {
    margin-left: 1rem;
    text-align: justify;
}

#texto_terminos {
    margin-right: 1rem;
}

.lista_contactos {
    margin-left: 2rem;
}