/* Todo el cuerpo */
.body {
    background-color: #C6D4EA;
    list-style: none;
    font-family: "Inter";
}



/* El cuerpo */
#contenedor_principal {
    display: flex;
    flex-direction: row;
    color: black;
    border-style: dotted; /* Borrar después */
    margin-top: 2rem;
}



/* Filtros */
#filtros {
    margin-right: 2rem;
    width: 50%;
}

.titulos_filtros {
    margin-bottom: 1rem;
}



/* Alimentos */
#alimentos {
    flex-direction: column;
    width: 100%;
}

#titulo_alimentos {
    margin-bottom: 1rem;
}

.productos {
    border-style: solid;
    border-color: #6FA1D3;
    background-color: #F5F5F5;
}

.texto_productos {
    margin-bottom: 1rem;
}




/*Footer*/
#footer {
    bottom: 0%;
    left: 0%;
    right: 0%;
    justify-content: left;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: #6FA1D3;
    border-style: solid;
    margin-top: 2rem;
}

.texto_footer {
    margin-left: 1rem;
    text-align: justify;
}

#texto_terminos {
    margin-right: 1rem;
}

.lista_contactos {
    margin-left: 2rem;
}